.row {
    display: flex;
    background-color:bisque;
    padding:25px;
    height: 300px;
}

.col, .col-2, .col-3 {
    flex:1;
    border: 1px solid black;
    background-color:aquamarine;
    text-align: center;
    font-size: 3em;
    justify-content: space-evenly;
}

.col-2 {
    flex:2;
}

.col-3 {
    flex:3;
}