<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Projects</title>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="bold">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
    <main>
        <div class="title">
            <h2 class="title-text">About me</h2>
        </div>

        <div class="index-main">
            <img src="~/imgs/profilepic.jpg" alt="profile-pic" class="profile_pic">
            <div class="about_me"> 
                <p>Hello! My name is Joseph. Welcome to my profile page</p>
            </div>
        </div>
    </main>
</body>
</html>