<div class="flex flex-col justify-center items-center mt-52 gap-10">
    <h1 class="text-5xl font-extrabold">Successfully registered!</h1>
    <a href="/" class="text-2xl font-semibold">Go back home to register again</a>
</div>