@{
    ViewData["Title"] = "Login and Registration";
}

<div class="mt-20 mx-20 flex justify-around">
    <div>
        <h1 class="text-6xl font-semibold text-blue-500">Register</h1>
        @await Html.PartialAsync("_Register")
    </div>

    <div>
        <h1 class="text-6xl font-semibold text-green-500">Login</h1>
        @await Html.PartialAsync("_Login")
    </div>
</div>
