<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Index</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/projects" class="bold">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
    <main>

        <div class="title">
            <h2 class="title-text">My Projects</h2>
        </div>

        <div class="project-container">

            <div class="project">
                <div class="project-title">
                    <h2>Project 1</h2>
                </div>
                <div class="project-desc">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates cupiditate illo error aliquam modi autem reiciendis consequatur, illum, sapiente in vel nulla asperiores blanditiis quidem, iste labore cum distinctio. Labore!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, nihil totam provident distinctio fuga, id nisi sint molestias ipsum itaque exercitationem eum reiciendis commodi temporibus eaque, unde aliquam excepturi sit!</p>
                </div>
            </div>

            <div class="project">
                <div class="project-title">
                    <h2>Project 2</h2>
                </div>
                <div class="project-desc">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates cupiditate illo error aliquam modi autem reiciendis consequatur, illum, sapiente in vel nulla asperiores blanditiis quidem, iste labore cum distinctio. Labore!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, nihil totam provident distinctio fuga, id nisi sint molestias ipsum itaque exercitationem eum reiciendis commodi temporibus eaque, unde aliquam excepturi sit!</p>
                </div>
            </div>

            <div class="project">
                <div class="project-title">
                    <h2>Project 3</h2>
                </div>
                <div class="project-desc">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates cupiditate illo error aliquam modi autem reiciendis consequatur, illum, sapiente in vel nulla asperiores blanditiis quidem, iste labore cum distinctio. Labore!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, nihil totam provident distinctio fuga, id nisi sint molestias ipsum itaque exercitationem eum reiciendis commodi temporibus eaque, unde aliquam excepturi sit!</p>
                </div>
            </div>

            <div class="project">
                <div class="project-title">
                    <h2>Project 4</h2>
                </div>
                <div class="project-desc">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates cupiditate illo error aliquam modi autem reiciendis consequatur, illum, sapiente in vel nulla asperiores blanditiis quidem, iste labore cum distinctio. Labore!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, nihil totam provident distinctio fuga, id nisi sint molestias ipsum itaque exercitationem eum reiciendis commodi temporibus eaque, unde aliquam excepturi sit!</p>
                </div>
            </div>

            <div class="project">
                <div class="project-title">
                    <h2>Project 5</h2>
                </div>
                <div class="project-desc">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates cupiditate illo error aliquam modi autem reiciendis consequatur, illum, sapiente in vel nulla asperiores blanditiis quidem, iste labore cum distinctio. Labore!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, nihil totam provident distinctio fuga, id nisi sint molestias ipsum itaque exercitationem eum reiciendis commodi temporibus eaque, unde aliquam excepturi sit!</p>
                </div>
            </div>

        </div>

    </main>

</body>
</html>