*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
}

a:hover{
    opacity: 80%;
    cursor: pointer;
}

.bold{
    font-weight: 800;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-top: 5rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2rem 10rem;
    border-radius: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.index-main{
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    gap: 25rem;
}

.profile_pic{
    border-radius: 2.5rem;
}

.about_me{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    padding: 2rem;
    border: 2px solid black;
    margin: 2rem 10rem 1rem 10rem;
    height: 70vh;
    overflow-y:scroll;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 2rem;
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 3rem;
}

input, textarea{
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.75rem;
    width: 100%;
}

.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.submit-button{
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.75);
    color:white;
    border-radius: 1rem;
}

.submit-button:hover{
    opacity: 80%;
    cursor: pointer;
}