<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{url_for('static', filename='style.css')}} ">
    <title>Dojos and Ninjas | Create new dojo</title>
</head>
<body>
    <div class="header">
        <h1>Create a new dojo</h1>
    </div>
    <form action="/dojos/create_dojo" method="POST">
        <label for="name" name="name">Dojo Name: </label>
        <input type="text" id="name" name="name" placeholder="Enter name here...">
        <input type="submit">
    </form>
    <button onclick="location.href='/dojos'">Go back to home</button>
</body>
</html>