@{
    ViewData["Add"] = "Add a Dish";
}

@model Dish

<nav class="flex flex-col justify-center items-center gap-6 mt-10">
    <h1 class="text-5xl font-bold">Edit @Model.Name</h1>
    <div class="flex">
        <a href="/" class="nav-link">Home</a>
        <a href="/add" class="nav-link">Add a Dish</a>
    </div>
</nav>

<div>
    <form asp-action="ProcessEdit" asp-controller="Dish" asp-route-DishId="@Model.DishId" method="post" class="flex gap-32 mt-20">

        <div class="flex flex-1 flex-col justify-center gap-10">
            <label asp-for="Chef" class="label-priv">Chef's Name</label>
            <input asp-for="Chef" class="input-priv">

            <label asp-for="Name" class="label-priv">Name of Dish</label>
            <input asp-for="Name" class="input-priv">

            <label asp-for="Calories" class="label-priv">Number of Calories</label>
            <input asp-for="Calories" class="input-priv">
        </div>

        <div class="flex flex-1 flex-col gap-10">
            <label asp-for="Tastiness" class="label-priv">Tastiness</label>
            <select asp-for="Tastiness" id="Tastiness" class="input-priv">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="flex flex-1 flex-col items-center gap-10">
            <label asp-for="Description" class="label-priv">Description</label>
            <textarea asp-for="Description" id="Description" cols="50" rows="10" class="input-priv"></textarea>
            <button class="submit-button-priv">Edit</button>
        </div>

    </form>
</div>