.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    text-align: center;
}

.all_products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_list {
    list-style-type: none;
    text-align: center;
}

.product_data {
    
}