@{
    ViewData["Title"] = "User!";
}

@model UserModel

<div class="text-center">
    <h1 class="text-5xl text-blue-600 font-bold">Here is a User</h1>
    <p class="text-7xl mt-24">@Model.FirstName @Model.LastName</p>
</div>