<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav class="nav-bar">
        <h1>Coding Dojo Wall</h1>
        <h2> Welcome {{user.first_name}} </h2>
        <button onclick="location.href='/'"> Log Out </button>
    </nav>

    <main>
        <div class="main-left">
            <h3> 3 Message(s) for you </h3>
            {% for message in all_messages %}
                <p> {{ message. }} </p>
        </div>
        <div class="main-right">

        </div>

    </main>
</body>
</html>