* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    width: 95vw;
    height: 95vh;
    background-color: #dddddd;
    margin: 1% auto;
    padding: 1rem;
}

