@{
    ViewData["Title"] = "Home Page";
}

@model User

<div class="flex flex-col items-center justify-center gap-10 mt-28">
    <form asp-action="Process" asp-controller="Home" method="post"
        class="flex flex-col items-center gap-10"
    >
        <h1 class="text-5xl font-bold">Welcome!</h1>
        <h2 class="text-3xl font-semibold">Please give your name</h2>
        <input asp-for="Username" class="input-field">
        <button type="submit" class="submit-button">Submit</button>
    </form>
</div>
