@model Message

<form asp-action="CreateMessage"
    asp-controller="Wall"
    method="POST"
    class="flex flex-col gap-2"
>   
    <span asp-validation-for="Content"></span>
    <h2 class="text-4xl font-semibold">Post a Message</h2>
    <textarea asp-for="Content" cols="30" rows="5" class="input-priv"></textarea>
    <div class="flex justify-end">
        <button class="submit-btn">Post</button>
    </div>
</form>