@{
    ViewData["Title"] = "Home Page";
}

@model Survey

<div class="flex justify-center items-center">
    <form asp-action="Process" asp-controller="Survey" method='post'>
        <div>
            <label for="Name">Your Name: </label>
            <input asp-for="Name" id="name">
        </div>
        <div>
            <label asp-for="Location">Dojo Location</label>
            <input asp-for="Location" id="location">
        </div>
        <div>
            <label asp-for="Language">Favorite Language</label>
            <select asp-for="Language" id="language">
                <option value="C#">C#</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="Java">Java</option>
            </select>
        </div>
        <div>
            <label asp-for="Comments">Comments (optional)</label>
            <textarea asp-for="Comments" id="comments" cols="30" rows="10"></textarea>
        </div>
        <div class="button-container">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
